.topo {
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 5px 0px 5px #b3b3b3;
    padding: 10px;

}
#logo{
    width: 10%;

}
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #f3f5f5;
}

#box {
    width: 300px;
    border-radius: 25px;
    box-shadow: 4px 4px 9px #b3b3b3;
    background-color: white;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    color: #666666;
}

#div {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    box-shadow: 4px 4px 9px #b3b3b3;
    background-color: white;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    color: #666666;
}

#box span {
    margin-bottom: 5px;
}

#box .text {
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: 3px 3px 6px #b3b3b3;
    border:none;
}


.button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #e84c3d;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    transition: 0.3s all;
    text-align: center;
}

.button:hover {
    background-color: #c92717;
}

#box .error {
    color: red;
}

#fundo{
    width: 300px;
    height: 200px;
}

.container {
    width: 100vw;
    text-align: center;
    padding: 40px 40px;
}

.box {
    float: left;
    width: 100px; height: 200px;
    margin: 10px 20px;
    font-size: 3vw;
    text-align: center;
    padding: 5vw 0vw 5vw 0vw;
    min-width:40vw;
    border-radius: 25px;
    background-color: white;
    box-shadow: 4px 4px 9px #b3b3b3;
}

.valor {
    background-color: #1bbc9b;
    width: 200px;
    height: 70px;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
}
#tabela{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: white;
}
.ini{
    color: white;
    align-items: center;
}